body {
    background-color: #06090c; /*#0c1118 */
    /* background: url(../img/moroccan-flower-dark.png); */
}

.main-container {
    position: relative;
    z-index: 1;
    border: 1px solid black;
    color: white;
    width: 75%;
    margin: 0 auto; /*div on center*/
    text-align: center;
}

.game-container {
    height: auto;
    width: 85%;
    margin: 0 auto; /*div on center*/
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.70);
    border: solid 1px #007bff;
    box-shadow: 0px 0px 50px rgba(0, 123, 255, 1);
}

.flex {
    display: flex;
    padding: 10px;
    flex-wrap: wrap; /*sets whether flex items are forced onto one line or can wrap onto multiple lines. If wrapping is allowed, it sets the direction that lines are stacked*/
    flex-direction: row; /*row by default*/
    justify-content: space-around; /*defines how the browser distributes space between and around content items*/
}

.flex-dealer-info-box {
    padding: auto auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 1em;
}

.flex-dealer-info-box img {
    border: solid 0.3em #007bff;
    border-radius: 10%;
    height: 6em;
}

.dealer-info {
    margin-left: 1em;
    /* border: solid 1px red; */
    /* background: green; */
}

.flex-blackjack-row-1 img {
    height: 10em;
    width: auto;
}

#dealer-cards-box {
    border: solid orange;
    height: 13.5em;
}
.players-cards {
    border: solid blue;
    min-height: 13.5em;;
}

.rules-container {
    width: 85%;
    margin: 0 auto; /*div on center*/
    margin-top: 5em;
    text-align: left;
    font-size: 1.1em;
}

footer {
    margin: 3%;
}